{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static "global.css" %}"> -->
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap.min.css" %}">
    {% block css %}
    {% endblock css %}
	<title>DND Spells</title>
  </head>
  <body class="{{body_classes}}">
    <div id="content">
      {% block main %}
      {% endblock main %}
    </div>
    <footer>
      {% block footer %}
      {% endblock footer %}
      {% block js %}
      {% endblock js %}
    <footer>
  </body>
</html>
