{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static "global.css" %}">
    {% block css %}
    {% endblock css %}
	<title>DND Spells</title>
  </head>
  <body class="{{body_classes}}">
    <div id="content">
      {% block main %}
      {% endblock main %}
    </div>
    <footer>
      {% block footer %}
      {% endblock footer %}
      <script type="text/javascript" src="{% static "require.js" %}"></script>
      <script type="text/javascript" src="{% static "react-0.14.8.min.js" %}"></script>
      <script type="text/javascript" src="{% static "react-dom-0.14.8.min.js" %}"></script>
      {% block js %}
      {% endblock js %}
    <footer>
  </body>
</html>
